.deckHead {
    background-color: #e0e1e2 !important;
}
.drawnHead{
    background-color: #e0e1e2 !important;
}
.deckCards{
    background-color: #f3f4f5 !important;
}
.drawnCards{
    background-color: #f3f4f5 !important;
}